.header {
  position: relative;
  height: 139px;
  padding: 0 16px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray0);
  margin-bottom: 15px;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
}

.header img {
  width: 160px;
  height: 36px;
  margin-bottom: 11px;
}

.header input {
  width: 100%;
  max-width: 768px;
  height: 60px;
  border-radius: 8px;
  border: 2px solid var(--gray20);
}

.header input::placeholder {
  color: var(--gray20);
  font: var(--headline);
  padding-left: 15px;
}

.header button {
  position: absolute;
  right: 26px;
  top: 72px;
  width: 107px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--colorPrimary);
  background-color: var(--colorPrimary);
  color: var(--gray0);
}

@media screen and (min-width:769px) {
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .header input {
    max-width: 500px;
  }

  .header button {
    position: absolute;
    top: 58px;
    right: 25px;
  }

  .header button:hover {
    background-color: var(--colorPrimary50);
    border: none;
  }

}

@media(min-width:1024px) {
  .header {
    position: relative;
    padding: 0 115px;
  }

  .header input:focus {
    padding-left: 15px;
    font-size: 20px;
  }

  .header button {
    position: absolute;
    top: 10px;
  }
}