:root{
  --colorPrimary:#27AE60;
  --colorPrimary50:#93D7AF;
  --colorSecondary:#EB5757;

  --gray100:#333333;
  --gray50:#828282;
  --gray20:#E0E0E0;
  --gray0:#F5F5F5;

  --negative:#E60000;
  --warning:#FFCD07;
  --sucess:#168821;
  --information:#155BCB;

  --heading1:bold 26px 'Inter',sans-serif;
  --heading2:bold 22px 'Inter',sans-serif;
  --heading3:bold 18px 'Inter',sans-serif;
  --heading4:bold 14px 'Inter',sans-serif;
  --headline:400 16px 'Inter',sans-serif;
  --body:400 14px 'Inter',sans-serif;
  --body600:600 14px 'Inter',sans-serif;
  --caption:400 12px 'Inter',sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

button{
  cursor: pointer;
}

.contentMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(min-width:1024px) {
  .contentMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 115px;
  }

  .contentMain div{
    max-width: 363px;
  }
}
