.cart{
  width: 100%;
  max-width: 480px;
  padding: 7px 16px;
}

.cartTitle{
  height: 65px;
  padding-top: 22px;
  padding-left: 21px;
  background-color: var(--colorPrimary);
  border-radius: 8px 8px 0px 0px;
  margin-top: 20px;
}

.cartTitle h3{
  color: var(--gray0);
  font: var(--heading3);
}

.divCartProduct{
  width: 100%;
  background-color: var(--gray0);
}

.divCartProduct ul{
  padding: 0 18.45px;
  padding-bottom: 20px;
  padding-top: 15px;
  overflow: scroll;
  height: 300px;
}

.productCart{
  height: 80px;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid #000;*/
  margin-top: 10px;
}

.imgCartProduct{
  width: 30%;
  background-color: var(--gray20);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.imgCartProduct img{
  width: 80px;
}

.infoCartProduct{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  padding-left: 15px;
}

.infoCartProduct h3{
  font: var(--heading3);
  color: var(--gray100);
}

.infoCartProductCategory{
  font: var(--caption);
  color: var(--gray50);
} 

.infoCartProductPrice{
  font: var(--heading4);
  color: var(--gray100);
}

.btnRemoveItemCartProduct{
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.btnRemoveItemCartProduct button{
  width: 25px;
  height: 25px;
  border: none;
  background-color:transparent;
  margin-top: 5px;
  color: var(--gray20);
}

.btnRemoveItemCartProduct button svg{
  width: 100%;
  height: 100%;
  
}

.btnRemoveItemCartProduct button:hover{
  color:var(--gray0);
  background-color: var(--negative);
  border-radius: 50%;
}





